.navbar.navbar-inverse
  .navbar-collapse.collapse.navbar-inverse-collapse
    .heading-container.row
      .heading.col-md-9
        %h1.search-header
          Reserve a Spot
      .toggle-container.col-md-3
        %form.view-switch-form
          %input{"id" => "view-toggle", "type" => "checkbox", "checked" => "true", "data-toggle" => "toggle", "data-on" => "Map View", "data-off" => "List View"}
          %input.hidden{"type" => "submit"}
    .ey_nav_div
      = form_tag("search/query", method: :get, class: "navbar-form") do
        .location-container.row
          .long-label.col-md-12
            = label_tag "Search for parking around:"
            <br>
          .address-container.col-md-8
            = text_field_tag :search, params[:search], placeholder: "city, state, zip, address", class: "form-control"
          .range-container.col-md-4
            = select_tag :miles, options_for_select([["within 1 mile", "1"], ["within 2 miles", "2"], ["within 5 miles", "5"]]), class: "form-control"
          <br>
        = label_tag "Size of Vehicle:"
        = link_to "help"
        <br>
        = select_tag :size, options_for_select([["motorcycle", "motorcycle"], ["compact", "compact"], ["standard", "standard"], ["large", "large"], ["RV", "RV"]], "standard"), class: "form-control"
        <br>
        .price-container.row
          .long-label.col-md-12
            = label_tag "Price Range ($ per hour) :"
            <br>
          .price-constrain-container.col-md-4
            = select_tag :constrain, options_for_select([["Any", "any"], ["Less than or Equal to", "less_than_or_equal_to"]]), class: "form-control"
          .price-number-container.col-md-8
            = number_field_tag :price, 2
            <br>
        .time-container.row
          .start-time-container.col-md-12
            = label_tag "Start Time:"
            <br>
            = datetime_select :start_time, start_year: Date.today.year, prompt: true, autofocus: true
            <br><br>
          .end-time-container.col-md-12
            = label_tag "End Time:"
            <br>
            = datetime_select :end_time, start_year: Date.today.year, prompt: true, autofocus: true
            <br>
        .alert.alert-danger.col-md-12.hidden
          %span.glyphicon.glyphicon-exclamation-sign
          %span.error-message
        %input{ "type" => "submit", "value" => "Find Parking", "class" => "btn btn-info search-submit"}
