<div class="space-card">
  <div class="space-img">
  <% if space.size == "standard" %>
    <%= image_tag("standard.png") %>
  <% elsif space.size == "compact" %>
    <%= image_tag("compact.png") %>
  <% elsif space.size == "large" %>
    <%= image_tag("large.png") %>
  <% elsif space.size == "RV" %>
    <%= image_tag("rv.png") %>
  <% else %>
    <%= image_tag("moto.png") %>
  <% end %>

    <p class="space-size">
      <%= space.size %>
      $<%= space.price.round %>/hr
    </p>

      <!-- <a href="/spaces/<%= space.id %>"><button>Book</button></a> -->
  </div>
</div>
