<%= form_for [location, space] do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="field form-group">
        <%= f.label :size %><br />
        <%= f.select :size, options_for_select([["Motorcycle", "motorcycle"], ['Compact', "compact"], ["Standard", "standard"], ["Large", "large"], ["RV", "RV"]], (space.size ? space.size : "standard")), class: "selectpicker form-control" %>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="field form-group">
        <%= f.label "Price ($ per hr)" %><br/>
        <%= f.number_field :price, autofocus: true, class: "btn-custom" %>
      </div>
    </div>

    <div class="col-xs-12">
      <div class="field form-group">
        <%= f.label :description %><br/>
        <%= f.text_area :description, autofocus: true, class: "btn-custom", placeholder: "(Optional)" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <%= f.label "For Rent" %><br/>
    </div>
    <div class="field col-xs-4 toggle-label">
      <%= f.check_box :space_active, id: "active-toggle", "data-toggle" => "toggle", "data-on" => "On", "data-off" => "Off" %>
    </div>
  </div><br>
  <div class="actions">
    <%= f.submit "List Space", class: "btn btn-primary" %>
  </div>
<% end %>
