<div class="reservation-card" id=<%= space.id %>>
  <a href="/locations/<%= space.location.id %>">
    <table>
      <tr>
        <th>Location:</th>
        <td><%= space.location.street_address %></td>
      </tr>
      <tr>
        <th>Price:</th>
        <td>
          $<%= space.price.round %>/hr
        </td>
      </tr>
      <tr>
        <th>Size:</th>
        <td>
          <%= space.size%>
        </td>
      </tr>
    </table>
  </a>

</div>

