<div class="side-container">
  <div class="card">
  <i class="material-icons">&#xE531;</i>
  </div>

  <ul class="space-desc">
    <li>
      <%= @location.street_address %>
    </li>
    <li>
      <%= @location.city %>
    </li>
    <li>
      <%= @location.state %>
    </li>
    <li>
      <%= @location.zip %>
    </li>

    <li>
      <%= @space.size %>
    </li>
    <li>
      <%= @space.description %>
    </li>
    <li>
      Rating: <%= @owner.average_rating %>
    </li>
  </ul>
</div>
