
<%= render template: "spaces/_show" %>

<div class="right-container">
  <h2>Reserve this Spot</h2>
  <%= form_for [@space, @reservation] do |f| %>

    <div class="field">
      <%= f.label :start_time %><br />
      <%= f.datetime_local_field :start_time, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :end_time %><br />
      <%= f.datetime_local_field :end_time, autofocus: true %>
    </div>

    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
  <% end %>

  <h4>Your Reservations for this Spot: </h4>
  <% @users_reservations.each do |reservation| %>
    <%= render template: "reservations/show", locals: {reservation: reservation} %>
  <% end %>
</div>
