<%= form_for [space, reservation] do |f| %>
    <div class="row" style="margin-bottom: 10px">
      <div class="field">
        <div class="col-md-4">
          <%= f.label :start_time %>
        </div>
        <div class="col-md-8">
          <%= f.datetime_local_field :start_time, autofocus: true %>
        </div>
      </div>
    </div>

    <div class="row" style="margin-bottom: 10px">
      <div class="field">
        <div class="col-md-4">
          <%= f.label :end_time %>
        </div>
        <div class="col-md-8">
          <%= f.datetime_local_field :end_time, autofocus: true %>
        </div>
      </div>
    </div><br/>

    <div class="actions">
      <%= f.submit "Book" %>
    </div>
<% end %>
