<%= form_for [@space, @reservation] do |f| %>

    <div class="field">
      <%= f.label :start_time %><br />Start Time:
      <%= f.datetime_select :start_time, start_year: Date.today.year, prompt: true, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :end_time %><br />End Time:
      <%= f.datetime_select :end_time, start_year: Date.today.year, prompt: true, autofocus: true %>
    </div><br/>


    <div class="actions">
      <%= f.submit "Submit" %>
    </div>
<% end %>
