
<div class="reservation-card" id=<%= reservation.id %>>
  <a href="/locations/<%= reservation.space.location.id %>">
    <table>
      <tr>
        <th>Location:</th>
        <td><%= reservation.space.location.street_address %></td>
      </tr>
      <tr>
        <th>Starts:</th>
        <td>
          <%= reservation.start_time.strftime("%D")%>
          <%= reservation.start_time.strftime("%r")%>
        </td>
      </tr>
      <tr>
        <th>Ends:</th>
        <td>
          <%= reservation.end_time.strftime("%D")%>
          <%= reservation.end_time.strftime("%r")%>
        </td>
      </tr>
    </table>
  </a>
  <% if reservation.occupant_id == current_user.id %>
    <% if reservation.ratings.length < 1 %>
      <div style="margin:auto" class="rateYo"></div>
    <% end %>
  <% end %>
</div>

