  <%= form_for @location do |f| %>
    <div class="field">
      <%= f.label :street_address %><br/>
      <%= f.text_field :street_address, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :city %><br/>
      <%= f.text_field :city, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :state %><br/>
      <%= f.text_field :state, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :zip %><br/>
      <%= f.text_field :zip, autofocus: true %>
    </div><br>

    <div class="actions">
      <%= f.submit "Create Location", class: "btn btn-primary reset" %>
    </div><br>
  <% end %>
