<div class="left-container col-md-4">
  <div id="location-map"></div>

  <%= hidden_field_tag "location", @location.id, {  :id => "location",
                                                    "data-latitude" => @location.latitude,
                                                    "data-longitude" => @location.longitude } %>

  <div class="location-desc">
    <h3>Location</h3>
    <p>
      <%= @location.street_address %><br />
      <%= @location.city %>,
      <%= @location.state %>
      <%= @location.zip %>
    </p>
    <%= render partial: "ratings/show", locals: { rated_thing: @location } %>
  </div>

</div>

<div class="space-container col-md-4">
  <h3>Spaces Available:</h3>



  <% @location.spaces.order(:id).each do |space| %>
    <div class="row">
      <div class="col-md-6">
        <%= render template: "spaces/_card", locals: {space: space} %>
      </div>
      <div class="col-md-6">
        <strong>Description:</strong><br>
        <%= (!space.description || space.description == "") ? "No information" : space.description %>
      </div>
    </div>
    <div class="edit">
      <% if current_user.id != @location.user_id %>
        <div class="reservation-right">
          <%= render partial: "reservations/form", locals: { space: space, reservation: @reservation } %>
        </div>
      <% elsif current_user.id == @location.user_id %>
        <%= link_to "Edit Space", edit_location_space_path(@location, space), class: "btn btn-primary edit-btn" %>
        <div class="reservation-right hidden">
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="right-container col-md-4">
  <%= render "chat_rooms/single_room" %>
</div>
