<div class="location-container">
<!-- <div id="location-map"></div> -->

<%= hidden_field_tag "location", @location.id, {  :id => "location",
                                                  "data-latitude" => @location.latitude,
                                                  "data-longitude" => @location.longitude } %>

<div class="location-desc">
  <h3>Location</h3>
  <p>
    <%= @location.street_address %><br />
    <%= @location.city %>,
    <%= @location.state %>
    <%= @location.zip %>
  </p>
  <h3>Average Rating</h3>
  <p>
    <%= @user.average_rating %>
  </p>
</div>

</div>

<div class="space-container">
  <% @location.spaces.each do |space| %>
    <% if space.space_active == 1 %>
      <div class="space-card">
        <!-- <div class="space-img">
          <i class="material-icons">&#xE91B;</i> -->
          <p>
            <%= space.size %>
          </p>
        <!-- </div> -->
        <% if space.description %>
          <p><%= space.description %></p>
        <% end %>
        <button>Reserve</button>
      </div>
    <% end %>
  <% end %>
</div>
