<div class="left-container">
  <div id="location-map"></div>

  <%= hidden_field_tag "location", @location.id, {  :id => "location",
                                                    "data-latitude" => @location.latitude,
                                                    "data-longitude" => @location.longitude } %>

  <div class="location-desc">
    <h3>Location</h3>
    <p>
      <%= @location.street_address %><br />
      <%= @location.city %>,
      <%= @location.state %>
      <%= @location.zip %>
    </p>
    <h3>Average Rating</h3>
    <p>
      <div class="rating-container">
        <div class="rating" style="display:none;"><%= @user.average_rating * 20 %></div>
        <div class="star-ratings">
          <div class="star-ratings-top"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
          <div class="star-ratings-bottom"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
        </div>
      </div>
    </p>
  </div>

</div>

<div class="space-container">
  <h3>Spaces Available:</h3>



  <% @location.spaces.each do |space| %>
    <%= render template: "spaces/_card", locals: {space: space} %>
  <% end %>
</div>
