<!DOCTYPE html>
<html>
  <head>
    <title>SeeSpotGo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'styles', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>

<!--     <script src="../../assets/javascripts/google-map.js"></script> -->

  </head>

  <body>
    <!-- Login Box -->
    <div id="loginmodal" style="display: none;">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div><br>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-primary" %>
        </div><br>
      <% end %>
      <a href="#registermodal" class="modaltrigger" >Sign up</a><br>
      <%= render "users/shared/links" %>
    </div>

    <!-- Register Box -->
    <div id="registermodal" style="display: none;">
      <h2>Register</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :phone %><br />
          <%= f.text_field :phone, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div><br>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn btn-primary" %>
        </div><br>
      <% end %>

      <a href="#loginmodal" class="modaltrigger" >Log in</a><br>
      <%= render "users/shared/links" %>
    </div>

    <!-- NavBar -->
    <nav>
      <div class="left-align">
        <div id='logo'></div>
        <%= link_to "SeeSpotGo", root_url, style: "text-decoration: none; color: #4eb74b" %>
      </div>
      <ul>
        <% if !user_signed_in? %>
          <li>
            <a href="#loginmodal" class="modaltrigger" >Login</a>
          </li>
          <li>
            <a href="#registermodal" class="modaltrigger" >Register</a>
          </li>
        <% else %>
          <li>
            <a href="/users/<%=current_user.id%>"><%=current_user.email%></a>
          </li>
          <li>
            <%= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "nav-bar"  %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="page-container">
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
      <%= yield %>
    </div>

    <!-- Overlay -->
    <div id="lean_overlay" style="display: none; opacity: 0.65;"></div>
    <footer>footer goes here</footer>
  </body>
</html>
